body {
  margin-top: 90px;
  margin-bottom: 120px;
  background: #f8f9fa;
}

.logo {
  height: 27px;
}

.card-login {
  border-top: 0;
  border-radius: 0;
}

.bg-white {
  background-color: #ffffff;
  padding: 5px 0.5rem;
}
